<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello git</h1>
    <section>
        <h1>bonjour</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod odit distinctio enim tempore ex ad fugit eligendi sapiente dolore dicta!
        </p>
    </section>
</body>
</html>
 git config --global user.email "sergeRakotondranivo@gmail.com"
 git config --global user.name "raitra"